// 从时间值中仅提取日期
var subDate = function (val) {
  if (val.length == 0 || val == undefined || "") {
    return;
  }
  if (val.length > 0) {
    var date = val.toString().substring(0, 11)
    return date;
  }
}
// 截取后四位,注意要先单独转换成string，否则str.length不起作用，substr在wxs中使用无效
var subNum = function (val) {
  if (val.length == 0 || val == undefined || "") {
    return;
  }
  if (val.length > 0) {
    var str=val.toString()
    var last = str.substring(str.length-4, str.length)
    return last;
  }
}
// 把object转成string
var ObjToStr = function (val) {
  var myJSON = JSON.stringify(val);
  return myJSON
}
module.exports.subDate = subDate;
module.exports.subNum = subNum;
module.exports.ObjToStr = ObjToStr;